$fz-menu-mobile: 27.5px;
$fz-headline-mobile: 82%;
$fz-text-mobile: 64%;
$fz-overlay-mobil: 55%;
$fz-list-mobile: 51%;
$fz-language-mobile: 51%;


$fz-menu-tablet: 23px;
$fz-headline-tablet: 130%;
$fz-text-tablet: 89%;
$fz-list-tablet: 70%;
$fz-language-desktop: 65%;


$fz-menu-desktop: 21.5px;
$fz-headline-desktop: 140%;
$fz-text-desktop: 93%;
$fz-list-desktop: 75%;
$fz-language-desktop: 60%;


$lh-menu-mobile: 145%;
$lh-text-mobile: 120%;
$lh-overlay-mobile: 120%;
$lh-list-mobile: 150%;


$color-highlight: #ff0064;


$navi-fullsize: 768px;


/********** spaces
*********************************************/

//mobile
$content-mobile: 36px;
$lightbox-mobile: 20px;

//mobile-landscape
$content-landscape: 80px;
$navi-width-landscape: 284px;
$navi-element-left-landscape: 36px;
$navi-element-top: 12px;

//tablet
$navi-top-tablet: 50px;
$content-tablet: 90px;
$content-position-tablet: 275px;

//content
$outerspace-desktop: 30px;
$outerspace-1356: 70px;
$outerspace-1440: 60px;