{% extends "master.twig" %}

{% block main %}
<main class="main">
    <div class="text">
        {% if record is defined %}

        {% set home = record %}

        {# display something introduction-like.. #}

        {% if home.body is not empty %}
        {{ home.body }}
        {% endif %}

        <a href="#" class="js-open-overlay text-open-overlay" data-overlay="team">Team</a>
        <a href="#" class="js-open-overlay text-open-overlay" data-overlay="impressum">Impressum</a>

        <div class="overlay js-overlay js-overlay-team overlay-odd">
            <button class="close close-overlay js-close-overlay">
                <svg viewBox="0 0 50 50" class="icon">
                    <use xlink:href="#x"></use>
                </svg>
            </button>
            <div class="content">
                <div class="headline">Team</div>

            </div>
        </div>

        <div class="overlay js-overlay js-overlay-impressum overlay-even" data-content="impressum">
            <button class="close close-overlay js-close-overlay">
                <svg viewBox="0 0 50 50" class="icon">
                    <use xlink:href="#x"></use>
                </svg>
            </button>
            <div class="content">
                <div class="headline">Impressum</div>
                {{ record.templatefields.impressum }}
            </div>
        </div>

        {% else %}
        <p>
            {{ __('Content for home not found!') }}
            {{ __("You should set 'homepage:' in your 'app/config/config.yml' to an existing record. Make sure that the content is published, otherwise it will not be shown.") }}
        </p>
        {% endif %}
    </div>
</main>
{% endblock %}
